@import 'vanilla-bean-components/styles/index.css';

.DomElem.Page {
	color: $grey-lightest;
	background-color: $grey-darkest;
}

input[type="text"], input[type="password"], input[type="number"], select {
	background: $white;
	color: $grey-darkest;
	border: 2px inset rgba(170, 170, 170, 0.7);
	border-radius: .15em;
	text-indent: 2px;
	line-height: 20px;
	height: 26px;

	&:focus {
		border-color: $blue-light;
		outline: none;
	}

	&.invalid {
		border-color: $red;
		background-color: $red-white;
	}
}