div.view.bookmarks {
	a.link {
		font-size: 18px;
		padding: 0.7em 1.4em;
		margin: 0 0.3em 0.3em 0;
		border-radius: 0.15em;
	}

	div.toolbar {
		display: flex;
		flex-direction: row;
	}

	input.search {
		flex: 1;
		width: auto;
	}

	.bookmarksContainer {
		margin: 0 1%;
	}
}
