// includes colors fonts dom menu dialog menuTheme buttons inputs color-picker

html {
	height: 100%;

	body {
		height: 100%;
		overflow: hidden;
		margin: 0;
		background: $black;
	}

	* {
		font: 600 16px "Source Code Pro";
		font-family: "Source Code Pro", monospace;
		touch-action: manipulation;
		-webkit-text-size-adjust: none;
	}

	*:not(input) {
		cursor: default;
		-webkit-tap-highlight-color: $transparent;
		-webkit-touch-callout: none;
		user-select: none;
	}

	button {
		cursor: pointer;
	}

	.selectable {
		cursor: text;
		-webkit-tap-highlight-color: initial;
		user-select: text;
	}
}

div#wrapper {
	position: relative;
	height: 100%;
	border: 1px solid $grey-darker;
	border-radius: 2px;
	box-sizing: border-box;
	z-index: 1;

	div#content {
		position: relative;
		height: 100%;

		input#search {
			width: 95%;
			margin: 1% auto;
			display: block;
			font-size: 20px;
			padding: 1px;
			box-sizing: border-box;
			height: 32px;
			text-shadow: 2px 3px 4px #9f9f9f94;

			&:focus {
				outline: 2px dashed $green;
				border: 4px solid $black;
				height: 36px;
			}
		}

		div.linkContainer {
			padding: 1%;
		}

		.link {
			text-decoration: none;
			text-shadow: 2px 3px 4px #5d5d5d94;

			&:before {
				@mixin fontAwesomeSolid;

				position: absolute;
				font-size: .8em;
				top: .3em;
				left: .3em;
				opacity: 0.7;
			}

			&.bookmark:before {
				content: "\f02e";
			}

			&.search:before {
				content: "\f002";
			}

			&.history:before {
				content: "\f1da";
			}
		}
	}
}

div#dialogWrapper div#dialog {
	border-radius: 0.2em;

	div.colorPicker {
		border-radius: 0.25em;
	}
}


div#colorPickerDialog {
	width: 250px;
	height: 250px;
	background-color: $black;
	position: absolute;
	border-radius: 6px;
	border: 5px solid $black;

	button {
		display: inline-block;
		margin: 5px 5px 0 0;
	}
}

div.colorPicker{
	div.pickerArea, div.hueArea {
		box-shadow: unset;

		div.indicator {
			background-color: $white;
			opacity: 0.3;
			width: 6px;
			border: 2px solid $black;
		}
	}

	div.pickerArea div.indicator {
		height: 6px;
	}

	div.hueArea {
		width: unset;

		div.indicator {
			top: -2px;
			left: -3px;
		}
	}
}

p.validationWarning {
	border: 1px solid $red;
	background-color: $red-white;
	color: $red;
	margin: 0 0 5px;
}

div#dialogWrapper div#dialog button {
	padding: 0.6em;
}